@model List<Productos>;

@{
    ViewData["Title"] = "Producto Page";
}

<div class="d-flex justify-content-start">
    <button type="button" class="btn btn-success">Nuevo</button>
</div>

<div class="d-flex justify-content-end">
    <div class="form-group">
        <label for="buscar">Buscar</label>
        <input type="text" id="buscar" class="form-control">
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Calidad</th>
            <th>Especificaciones</th>
            <th>Fecha de Vencimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.Codigo</td>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Calidad</td>
                <td>@producto.Especificaciones</td>
                <td>@producto.FechaDeVencimiento.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("Editar", "Productos", new { id = producto.Codigo })" class="btn btn-primary">Editar</a>
                    <button type="button" class="btn btn-danger" onclick="eliminar('@producto.Codigo')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
